<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>21</title>

  <!--Style Sheets-->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lobster|Yellowtail" rel="stylesheet">
</head>

<header align="center">

<br><br>
<img src="/assets/images/21.logo" height="120px" width="120px">

</header>
<body>

<div class="text-center">

	 <h1 class="rowhead">21</h1>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<form method="POST" action="/login" class="button-size">
				<textarea class="form-control" rows="1" type="text" name="burger_name"></textarea>First type in the burger you want then
				<button type="submit" class="btn btn-info btn-sm">Build it!</button>

				</form>
			</div>
		</div>
	</div>

</div>

<div>
  								{{{body}}}
</div>


</body>
</html>
