/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #f3e5f5;
  border-bottom: 1px solid #ddd;
}

.padding-20 {
  padding: 20px;
}

.itopnav {
  padding: 0;
  text-align: center;
  font-size: 25px;
  height: 25px;
  line-height: 25px;
}

.navi {
  align-items: center;
  margin-left: 45px;
}

.purplelink {
  color: #6a1b9a;
}

.whitelink {
  color: #ffffff;
}
